ENV=demo
API_URL=https://api.wnyc.org
ALGOLIA_API_KEY=5f62b57eb1ce57c476a8199c34c14a2d
ALGOLIA_APP_KEY=KXHZN32IEJ
HTL_IS_TESTING='yes'
HTL_CSS='https://htlbid.com/stage/v3/radiolab.com/htlbid.css'
HTL_JS='https://htlbid.com/stage/v3/radiolab.com/htlbid.js'
SENTRY_DSN=https://71323481835a49cd89ddefb362064610@o557978.ingest.sentry.io/6239818