version: 2.1

filter_all: &filter_all
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

filter_demo: &filter_demo
  filters:
    branches:
      only: main
    tags:
      only: demo

filter_prod: &filter_prod
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+/

workflows:
  test-and-deploy:
    jobs:
      - build:
          <<: *filter_all
      - test_js:
          <<: *filter_all
          requires:
            - build
      - test_nginx:
          <<: *filter_all
          requires:
            - build
      - deploy_js:
          name: Deploy App (demo)
          context: "AWS Deploy"
          <<: *filter_demo
          tag: demo
          requires:
            - test_js
            - test_nginx
      - deploy_js:
          name: Deploy App (prod)
          context: "AWS Deploy"
          env: prod
          <<: *filter_prod
          requires:
            - test_js
            - test_nginx
      - deploy_nginx:
          name: Deploy Nginx (demo)
          context: "AWS Deploy"
          <<: *filter_demo
          tag: demo
          requires:
            - test_js
            - test_nginx
      - deploy_nginx:
          name: Deploy Nginx (prod)
          context: "AWS Deploy"
          env: prod
          <<: *filter_prod
          requires:
            - test_js
            - test_nginx

jobs: 
  # Note (allie): This is its own job because I don't 
  # want to run the tests in an environment that has the
  # built project. 
  build:
    executor: default
    steps:
      - checkout
      - setup_npmrc
      - run: 
          name: Assert that it builds
          command: |
            npm ci
            npm run build

  test_js:
    executor: default
    steps:
      - checkout
      - setup_npmrc
      - run:
          name: Run unit tests
          command: |
            npm ci
            npm run test     

  test_nginx:
    docker:
      - image: nginx
    steps:
      - checkout
      - setup_npmrc
      - run:
          command: |
            apt-get update && \
            apt-get install -y nginx-extras
            mkdir -p /app/nginx 
            cp ./nginx/default.conf /etc/nginx/
            cp ./nginx/radiolab.conf /app/nginx
            nginx -t

  deploy_js:
    docker: 
      - image: circleci/python:3.6
    parameters:
      env:
        type: enum
        default: "demo"
        enum: ["demo", "prod"]
      tag:
        type: string
        default: ""
    steps:
      - checkout
      - setup_npmrc
      - setup_remote_docker:
          version: 19.03.13            
      - run:
          name: Deploy
          environment:
            ENV: <<parameters.env>>
            TAG: <<parameters.tag>>
            ROLE: radiolab-vue-<<parameters.env>>
          command: |
            TAG=${TAG:-$CIRCLE_TAG}

            python3 -m venv ~/.venv
            source ~/.venv/bin/activate
            pip3 install -U git+https://github.com/nypublicradio/nyprsetuptools.git
            
            nyprsetuptools DockerDeploy \
              --dockerfile=Dockerfile_app \
              --fargate \
              --cpu=256 \
              --memory-reservation=512 \
              --ecr-repository=radiolab-vue \
              --ecs-cluster=radiolab-vue \
              --ports=3000 \
              --execution-role=$ROLE \
              --task-role=$ROLE \
              --environment=$ENV \
              --tag=$TAG \
              --wait=300

  deploy_nginx:
    docker: 
      - image: circleci/python:3.6
    parameters:
      env:
        type: enum
        default: "demo"
        enum: ["demo", "prod"]
      tag:
        type: string
        default: ""
    steps:
      - checkout
      - setup_npmrc
      - setup_remote_docker:
          version: 19.03.13            
      - run:
          name: Deploy
          environment:
            ENV: <<parameters.env>>
            TAG: <<parameters.tag>>
            ROLE: radiolab-vue-<<parameters.env>>
          command: |
            TAG=${TAG:-$CIRCLE_TAG}

            python3 -m venv ~/.venv
            source ~/.venv/bin/activate
            pip3 install -U git+https://github.com/nypublicradio/nyprsetuptools.git
            
            nyprsetuptools DockerDeploy \
              --dockerfile=Dockerfile_nginx \
              --fargate \
              --cpu=256 \
              --memory-reservation=512 \
              --ecr-repository=radiolab-vue-nginx \
              --ecs-cluster=radiolab-vue-nginx \
              --ports=3000 \
              --execution-role=$ROLE \
              --task-role=$ROLE \
              --environment=$ENV \
              --tag=$TAG \
              --wait=300

commands:
  setup_npmrc:
    steps:
      - run:
          name: Setup .npmrc
          command: |
            echo "@nypublicradio:registry=https://npm.pkg.github.com" > .npmrc
            echo "//npm.pkg.github.com/:_authToken=$PAT" >> .npmrc
    
executors:
  default:
    docker:
      - image: cimg/node:16.14.2
    environment: 
      JOBS: 2