:export {
    maxWidth: strip-unit($maxWidth);
    contentWidth: strip-unit($contentWidth);
    thinContentWidth: strip-unit($thinContentWidth);
    headerHeight: strip-unit($headerHeight);
    leaderboardHeight: strip-unit($leaderboardHeight);
    leaderboardHeightMobile: strip-unit($leaderboardHeightMobile);
    playerHeight: strip-unit($playerHeight);
    toolsBreakPoint: strip-unit($toolsBreakPoint);
    head-color-height: strip-unit($head-color-height);
    head-color-height-lg: strip-unit($head-color-height-lg);
    head-color-height-md: strip-unit($head-color-height-md);
    head-color-height-sm: strip-unit($head-color-height-sm);
}
