$maxWidth: 1440px;
$contentWidth: 1366px;
$thinContentWidth: 768px;
$headerHeight: 70px;
$leaderboardHeight: 90px;
$leaderboardHeightMobile: 50px;
$playerHeight: 100px;
$toolsBreakPoint: 472px;
$menuBreakpoint: 1180px;

$head-color-height: 280px;
$head-color-height-lg: 130px;
$head-color-height-md: 162px;
$head-color-height-sm: 210px;

:root {
    --header-height: #{$headerHeight};
    --player-height: #{$playerHeight};
    --header-z-index: 900;
    --line-clamp: 3;
}
