.radiolab-card.v-card {
    background: var(--white100);
    border-radius: 20px;
    box-shadow: none;
    height: 100%;
}
.radiolab-card.v-card .card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 1.25rem 1.25rem;
}

.radiolab-card.v-card .card-slot,
.latest-episode .latest-episode-content {
    .divider {
        position: relative;
        display: block;
        width: calc(100% + 2.5rem);
        height: 2px;
        background-color: var(--white);
        margin-bottom: 1rem;
        margin-left: -1.25rem;
    }
}

.radiolab-card.v-card .card-subtitle {
    text-transform: uppercase;
    font-size: var(--font-size-5);
    line-height: 30px;
}

.radiolab-card.v-card .card-title-link h2 {
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-500);
    line-height: 28px;
    margin-bottom: spacing(4);
    @include truncate();
    @include t2lines();
}

.radiolab-card.v-card .card-blurb {
    @include truncate();
    @include t3lines();
    @include media('>md') {
        min-height: 86.5px;
    }
    * {
        font-size: var(--font-size-5);
        line-height: 20px;
    }
    // to fix ios safari text-overflow bug, I remove all but the first <p> or <div>
    p:not(p:first-child),
    div:not(div:first-child) {
        display: none;
    }
}
.radiolab-card.v-card.team .card-blurb {
    @include media('>md') {
        min-height: 60px;
    }
}

.radiolab-card.v-card .radiolab-card-podcasts {
    font-size: var(--font-size-8);
    display: flex;
    align-content: flex-start;
    text-transform: uppercase;
    svg {
        margin-right: 7px;
    }
}

.radiolab-card.v-card .radiolab-card-podcasts svg {
    width: 18px;
    height: 18px;
}
