// I had to prefix the color with "rl" because some of the base color names were protected somehow
:export {
    rlPrimaryColor: $primaryColor;
    rlBlue: map-get($colors, 'blue');
    rlLightblue: map-get($colors, 'lightblue');
    rlRedorange: map-get($colors, 'redorange');
    rlOrange: map-get($colors, 'orange');
    rlLightorange: map-get($colors, 'lightorange');
    rlGold: map-get($colors, 'gold');
    rlPink: map-get($colors, 'pink');
    rlLightpink: map-get($colors, 'lightpink');
}
