$maxWidth: 1440px;
$contentWidth: 1366px;
$headerHeight: 70px;
$playerHeight: 100px;

:root {
  --header-height: #{$headerHeight};
  --player-height: #{$playerHeight};
  --header-z-index: 900;
}

body {
  background: #ffffff;
}
main {
  padding-top: $headerHeight;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .content {
    width: 100%;
    max-width: $contentWidth;
    padding: spacingXY(10, 18);
    @include media("<medium") {
      padding: spacingXY(6, 4);
    }
    &.max-width {
      max-width: $maxWidth;
    }
  }
}

.p-inputtext {
  padding-left: spacing(6);
  &.p-inputtext-lg {
    padding: 0.75rem spacing(6);
  }
}

/*component overrides that will eventually go in the extensions.scss file in the theme*/
.p-button {
  font-weight: var(--font-weight-500);
}

// style-modes
:root,
[data-style-mode="blue"] {
  --link-button-color: var(--primary-light-color);
  --link-button-hover-color: var(--primary-light-color);
  --text-color: var(--white100);
  --text-color-secondary: var(--white300);
}

[data-style-mode="blue"] {
  .p-button:not(.p-button-text) {
    color: var(--blue-500);
    &:hover {
      color: var(--primary-color);
    }
  }
  .p-inputtext {
    background-color: rgba(10, 11, 12, 0.1);
    border-color: transparent;
    color: var(--primary-color);
    &::placeholder {
      color: var(--white100);
      opacity: 0.4;
    }
  }
}

/*component overrides that will eventually go in the extensions.scss file in the theme*/
