$maxWidth: 1440px;
$contentWidth: 1256px;

body {
  background: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .content {
    width: 100%;
    max-width: $contentWidth;
    padding: spacingXY(10, 18);
    @include media("<medium") {
      padding: spacingXY(6, 4);
    }
    &.max-width {
      max-width: $maxWidth;
    }
  }
}

.p-inputtext.p-inputtext-lg {
  padding: 0.75rem;
}

/*component overrides that will eventually go in the extensions.scss file in the theme*/

.p-button{
  font-weight: var(--font-weight-500);
}

// style-modes
:root,
[data-style-mode="blue"] {
  --link-button-color: var(--primary-light-color);
  --text-color: var(--white100);
  --text-color-secondary: var(--white300);
}

* {
  &[data-style-mode="blue"] {
    .p-button:not(.p-button-text) {
      color: #0454d6;
      border-color: #ffffff;
      span {
        font-weight: 600;
      }
    }
    .p-inputtext {
      background-color: rgba(10, 11, 12, 0.1);
      border: none;
      padding-left: spacing(6);
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #f4f2f0;
        opacity: 0.4; /* Firefox */
      }
    }
  }
}

/*component overrides that will eventually go in the extensions.scss file in the theme*/