.truncate {
    display: -webkit-box;
    position: relative;
    background: inherit;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: var(--word-break, "none");
    overflow: hidden;
    hyphens: auto;

    // fade text's last word, if clamped ()
    &::after {
        content: "";
        height: 2ch;
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
        //background: linear-gradient(90deg, transparent, var(--bg));
        background: inherit; // it's easier to work with inheritance
        mask-image: linear-gradient(to left, black, transparent);
        transition: 0.2s;
        width: 3em;
    }
    &.t1lines {
        -webkit-line-clamp: 1;
    }
    &.t2lines {
        -webkit-line-clamp: 2;
    }
    &.t4lines {
        -webkit-line-clamp: 4;
    }
}
